In [2]:
print("hello world")

hello world

In [2]:
print("career")
print("lab")

career
lab

In [8]:
print(7)

7

In [34]:
a=100
b=20
sum=a+b
print("sum of a =",a,"and b=",b,"is",sum)
print("calculation done")

sum of a = 100 and b= 20 is 120
calculation done

In [61]:
a = 1
b = 20.57
c = 4+5j
d = "ghjgf"

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [62]:
g = 100
h = 100

print(id(g))
print(id(h))

1612280583632
1612280583632

In [63]:
a = -6
b = -6
c = 257  
print(id(b))
print(id(c))
print(id(d))

1612392401040
1612392401168
1612392401936
1612392401584

In [5]:
a = 10
b = 5.6
c =4 + 5j
d = 'a'
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(id(a))
print(id(b))
print(id(c))
print(id(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
2444805106256
2444891504240
2444891504272
2444811024496

In [5]:
a = 20
b = 10
c = 5
print(a>10 and b<10)
print(a>10 or b>10)
print(a>10 and b>10 or c==5)
#left to right associty
print(a!=20)

False
True
True
False

In [7]:
# Assignment operators
# =, +=, -=, *=, /=, %=, **=
a=5
a=a+5 == a+=5
a=a-5 == a+=5
a=a*5 == a*=5
a=a%5 == a%=5

SyntaxError: invalid syntax (1827944542.py, line 4)

In [10]:
#special operators- identity and membership
#identity: is,is not
# they look for identicel values and saved at same part of memory.
a = "abc"
b = "abc" 
#print(a is not b)
#membership operators
#in, not in
#it is done with sequence type only


a=2 
b=(2,3,4,5) #list sequence
print(3 in b)

True

In [18]:
#bitwise operators
#bits 0,1
#1byte=08 bits
#128 64 32 16 8 4 2 1 for 20 bit code is-
#0   0  0   1 0 1 0 0
# & , / , ^
a = 20 #00010100
b = 4  #00000100
#output 00000100
print(a&b)
print(a/b)
#complement ~, shift left <<, shift right >>
#20  00010100
#~20 11101010
print(~20)
#20 -  00010100
#20<<2 01010000
#20>>2 00000101
print(20<<2)
print(20>>2)

4
5.0
-21
80
5

In [9]:
a = input("enter the value of a")
print("value of a =",a)
b = 4.65
c = int(b)
print(type(c))

enter the value of ah
value of a = h
<class 'int'>

In [10]:
#boolem data type
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [15]:
#relatinal operators
a = 10
b = 20
print(a>b)
print (a<b)
print (a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [33]:
#logical operaters
a = 10
b = 10
c1 = not(a)
print(a>10 and b>10)
print(a>10 or b>10)
print(c1)

False
False
False

In [34]:
#airthamatic operation
a = 10
b = 20
print (a+b)
print(a-b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

30
-10
0.5
0
100000000000000000000
10

In [4]:
#type casting: converting one data type into another 
#implicit and explicit
a = "5"
print(type(a))
#int(),float(),str(),casting is also done in sequence type
a = 3.0
print(type(a))
b = str(a)
print(type(b))

<class 'str'>
<class 'float'>
<class 'str'>

In [6]:
#sum operation
a=int(input("enter 1st number: "))
b=int(input("enter 2nd number: "))
s=a+b
print("sum is: ",s)

enter 1st number: 45
enter 2nd number: 46
sum is:  91

In [7]:
#precedence and associativity
print(2**3**2)
#a-b+c

512

In [14]:
#flow control
#order in which statements/blocks of code is executed ar rum time
# 1. conditional - if else elif nested if
# 2. transfer - break continue pass
# 3. iterative -while for

#conditional

person=int(input("enter your age: "))
if person>=18 and person<60:
    print("you can join facebook!")
else:
    print("you can not join facebook!")

enter your age: 65
you can not join facebook!

In [23]:
a = true
 
if a: #block 1
    print(if construct activated)
    print(line1)
    print(line2)
    print(line3)
else :
    print(line4)
    print(line)
print("demo of if-else conduct")

SyntaxError: invalid syntax (503593162.py, line 4)

In [22]:
#num is odd or even?
num = (int)(input("Enter any number"))

if num%2==0:
    print("num is even")
else:
    print("num is odd")

Enter any number57
num is odd

In [26]:
a=int(input())
b=int(input())
c=int(input())
avg=a+b+c/3
print(avg)

5
4
3
10.0

In [27]:
x = (int)(input())
n = (int)(input())
print(x**n)

3
2
9

In [6]:
###games
print(7)
5

7

5

In [11]:
number = int(input("Enter the number"))
if number == 10:
    print("10 is entered by the user")
elif number == 50:
    print("50 is entered by the user")
elif number == 100:
    print("100 is entered by the user")
else:
    print("it is not a valid number")

Enter the number124
it is not a valid number

In [27]:
marks = int(input("enter the marks"))
if marks >85 and marks <=100:
    print("you have scored A grade")
elif marks >65 and marks <=85:
    print("you have scored B+ grade")
elif marks >45 and marks <= 65:
    print("you have scored B grade")
else:
    print("sorry!!you have failed better luck next time!")

enter the marks64
you have scored B grade

In [ ]:
n = (int)(input("enter the value of n"))

if n%2 ==0:
    print("n is even")
    if (n==0)
    print("n is zero ")

In [26]:
n = (int)(input("enter the value of n"))
m = (int)(input("enter the value of m"))
if n%2 ==0:
    if (m%2==0):
        print(1)
    else:
        print(2)
else:
    print(3)

enter the value of n6
enter the value of m8
1

In [30]:
x = 1 #initialization
while x<=10: #test condition
    print("hitesh")#task
    x = x+1#update stet-->inc/dec
print("exit from the loop")

hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
exit from the loop

In [35]:
n = (int)(input("how many times you want to type your name"))
x = 1 #initialization

while x<=n: # test condition
    print("hitesh") # task
    x = x+1
print("exit the loop")

how many times you want to type your name10
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
hitesh
exit the loop

In [6]:
a= 1.05
print(id(a))
a  = a+1
id(a)

3106950724176

3106978146640

In [8]:
a=10
type(id(a))

int

In [1]:
#break and continue in while loop
# break is the control statement, as soon as it encountered the execution skips the whole block
# wheras in continue, only the current iteration is skipped
a=1
while a<=10:
    print(a)
    if a==5:
        break
    a=a+1

1
2
3
4
5

In [12]:
n = (int)(input())
i =1
sum = 0

while i<=n:
    sum = sum+i
    i = i + 1
    
print(sum)

4
10

In [1]:
while(True):
    a = (int)(input())
    if a == 1:
        I1 = (int)(input())
        I2 = (int)(input())
        print(I1+I2)
    elif a == 2:
        I1 = (int)(input())
        I2 = (int)(input())
        print(I1-I2)
    elif a == 3:
        I1 = (int)(input())
        I2 = (int)(input())
        print(I1*I2)
    elif a == 4:
        I1 = (int)(input())
        I2 = (int)(input())
        print(I1//I2)
    elif a == 5:
        I1 = (int)(input())
        I2 = (int)(input())
        print(I1%I2)
    elif a == 6:
        break
    else:
        print("Invalid Operation")

6

In [6]:
rows = (int)(input("Enter the no. of rows"))
col =  (int)(input("Enter the no. of cols"))

r=0
while r<rows:
    c=0
    while c<col:
        print("*",end = "")
        c = c+1
    print()
    r = r+1

Enter the no. of rows3
Enter the no. of cols3
***
***
***

In [20]:
r=1
while r<=4:
    c=1
    while c<=4:
        print(r,end = "")
        c = c+1
    print()
    r  = r+1

1111
2222
3333
4444

In [21]:
r=1
while r<=4:
    c=1
    while c<=4:
        print(c,end = "")
        c = c+1
    print()
    r  = r+1

1234
1234
1234
1234

In [44]:
r=4
while r>=1:
    c=4
    while c>=1:
        print(c,end = "")
        c = c-1
    print()
    r  = r-1

4321
4321
4321
4321

In [41]:
r=1
while r<=4:
    c=1
    while c<=r:
        print(c,end = "")
        c = c+1
    print()
    r =r+1

1
12
123
1234

In [51]:
n = (int)(input("Enter any number"))

rev = 0
while n!=0:
    rem = n%10
    rev = (rev*10) + rem
    n = n//10
print(rev)

Enter any number457
754

In [14]:
stopPoint = (int)(input("Enter the stop point = "))

count = 2
a = 1
print(a,end = " ")
b = 1
print(b,end = " ")

c = a + b

while c<=stopPoint:
    print(c,end = " ")
    count = count + 1
    a=b
    b=c
    c= a + b
print("\ntotal terms = ",count)

Enter the stop point = 7
1 1 2 3 5
total terms =  5

In [20]:
TermNum = (int)(input("Enter the term number = "))

count = 2
a = 1
b = 1
c = a + b
if TermNum == 1 or TermNum ==2:
    print(1)
else:
    while True:
        count = count + 1
        if count == TermNum:
            print(c)
            break;
        a = b
        b = c
        c = a + b

Enter the term number = 1
1

In [1]:
fruits = ['apple', 'mangoes', 'oranges', 'water melon', 'grapes']

for i in numbers:
    print(i)

NameError: name 'numbers' is not defined

In [3]:
for i in range(10):
    #print(i,end = ' ')
    if i==8:
        continue
    print("value of i =",i)
    print("")
print("program ended")

value of i = 0

value of i = 1

value of i = 2

value of i = 3

value of i = 4

value of i = 5

value of i = 6

value of i = 7

value of i = 9

program ended

In [4]:
i = 2
if i>2:
    pass
else:
    pass

print("end")

end

In [12]:
n = (int)(input("enter the value of n"))

for i in range(1,11):
    print(n,"x",i,"=", n*i)

enter the value of n5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = (int)(input("enter the value of n"))

fact =1
for i in range(i,n+1):

In [6]:
number = (int)(input("enter any number"))

isComposite = 0

for i in range(2,number):
    if number%i==0:
        isComposite = 1
        break
        
if isComposite==1:
    print("number is composite")
else:
    print("number is NOT composite")

enter any number1
number is NOT composite

In [13]:
number = (int)(input("enter any number"))

flag = False

for i in range(2,number):
    if number%i==0:
        flag = True
        
if flag:
    print("number is NOt prime")
else:
    print("number is prime")

enter any number21
number is NOt prime

In [14]:
lb = (int)(input("enter the lowerbound"))
ub = (int)(input("enter the upperbound"))

count = 0;
for number in range(lb,ub+1):
    isComposite = 0
    for i in range(2,number):
        if number%1==0:
            isComposite = 1
            break
            
    if isComposite==0:
        count = count + 1
    
print("count the prime numbers =",count)

enter the lowerbound2
enter the upperbound5
count the prime numbers = 1

In [15]:
count = 0

for r in range(1,5):
    for c in range(1,r+1):
        print(count,end=' ')
        count = count + 1
    print()

0
1 2
3 4 5
6 7 8 9

In [4]:
tempF = int(input())
tempC = (tempF -32)*5/9
print(tempC)

20
-6.666666666666667

In [3]:
p = int(input())
r = int(input())
t = int(input())
SI = (p*r*t)/100
print(SI)

100
5
6
30.0

In [6]:
a = int(input())
b = int(input())
c = int(input())
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**(1/2)
print(area)

2
2
2
1.7320508075688772

In [1]:
a = int(input("enter the first number"))
b = int(input("enter the second number"))
sum = a + b
print(sum)

enter the first number5
enter the second number6
11

In [1]:
a = 10
b = 5.6
c =4 + 5j
d = 'a'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [6]:
a = int(input())
if 18<a<=60:
    print("join facebook")
elif a>60:
    print("you are too old to join facebook")
else:
    print("not eligble")

68
you are too old to join facebook

In [10]:
n = int(input("enter the lower bound="))
m = int(input("enter the upper bound="))
count = 0
for a in range(n,m+1):
    Isnotprime = 0
    for i in range(2,n):
        if(a%i==0):
            Isnotprime=1
            break
    if Isnotprime==0:
        count=count+1
        print(a)

enter the lower bound=5
enter the upper bound=20
5
7
11
13
17
19

In [11]:
a = int(input("enter the first number"))
b = int(input("enter the second number"))
c = int(input("enter the third number"))
if c<a>b:
    print("a is large")
elif b<c>a:
    print("c is lagest")
else:
    print("b is largest")

enter the first number2
enter the second number4
enter the third number4
b is largest

In [20]:
n = int(input("enter the number="))
squareroot=n**(1/2)
print(squareroot)

enter the number=9
3.0

In [18]:
n = int(input("enter the number="))
sum = 0
for i in range(1,n+1):
    sum+=i**3
    print(sum)

enter the number=4
1
9
36
100

In [2]:
n = int(input())
s = 0
t = n
while t>0:
    k=t%10
    s += k**3
    t//=10
if s == n:
    print("number is an armstrong")
else:
    print("number is not an armstrong")

69
number is not an armstrong

In [12]:
n = int(input("enter the number = "))
if n%2==0:
    print("even")
else:
    print("odd")

enter the number = 45
odd

In [13]:
list = [12,8,9,2,5]
print(list)
print("sum of list",sum(list))

[12, 8, 9, 2, 5]
sum of list 36

In [18]:
n = int(input("enter the number = "))
factorial = 1
for i in range(1,n+1):
    factorail = factorial*i
print("the factorial of",n,"is",factorial)

enter the number = 6
the factorial of 6 is 1

In [20]:
p = int(input("enter the principle"))
r = int(input("enter the rate of intrest"))
t = int(input("enter the time period"))
SI = (p*r*t)/100
print(SI)

enter the principle2
enter the rate of intrest4
enter the time period5
0.4

In [ ]:
# REVERSE THE CONTENT OF LIST DISPLAY WITHOUT THE REVERSE OF METHODS
# print the alternate elements from the list
# PRINT MAXIMUM ELEMENT IN A LIST
# ROTATE THE ELEMENTS IN A LIST(FIRST INDEX MOVES TO 2ND INDEX,LIKE LAST INDEX MOVES TO 1ST INDEX)
# WRITE A PROGRAM i/p A STRING AND ASK USER TO DELETE A GIVEN WORD FROM A STRING
#5
.text = input('enter a string:') 
words = text.split()
data = input('enter a word to delete')
status = false
for words in woods:
    if word == data
    words.remove(word)
    status = True

In [21]:
a = int(input())
b = int(input())
c = int(input())
if c<a>b:
    print(a,"is greater")
elif a<b>c:
    print(b,"is greater")
else:
    print(c,"is greater")

5
6
7
7 is greater

In [18]:
li=[]
n=int(input())
for i in range (n):
    li.append(int(input()))
print(li)

4
1
2
3
4
[1, 2, 3, 4]

In [38]:
str = input()
print(str)
print(type(str))

str_split = str.split(' ')
print(str_split)
li = []
for j in str_split:
    li.append(int(j))
print(li)

4 3 2 1
4 3 2 1
<class 'str'>
['4', '3', '2', '1']
[4, 3, 2, 1]

In [37]:
li=[int(x) for x in input().split()]
li[0]=li[0]
print(li)
print(type(li[0]))

4 5 6 7 8
[4, 5, 6, 7, 8]
<class 'int'>

In [35]:
lis=[i for i in input().split()]
print(lis)

5 4 3 2
['5', '4', '3', '2']

In [39]:
def test(li2):
    li2[0] = 909078
    
    
li = [2,3,4]
test(li)
print(li)

[909078, 3, 4]

In [42]:
#call by reference
def test2(x):
    x = 0
    
    
x = 9
test2(x)
print(x)

9

In [52]:
def linearSearch(li,key):
    for i in range(len(li)):
        if(li[i]==key):
            return i
li=[3,4,5]
key=int(input())
linearSearch(li,key)

8

In [11]:
n = int(input())
i = 1
while i <= n:
    j = j + 1
    while j <= n:
        print('*',end =' ')
        j = j + 1
    print()
    i = i + 1

4

In [24]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print('*', end ='')
        j = j + 1
    print()
    i = i + 1

4
****
****
****
****

In [1]:
n = int(input())
temp = n
rev = 0
check = n
while n>0:
    lastdigit = n%10
    rev = rev*10+lastdigit
    n = n//10
print(rev)
if check == n:
    print("Palindrome")
    
else:
    print("Not palindrome")

345
543
Not palindrome

In [3]:
#Square of each element in a list without using input function
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
    square = i**2
    list2.append(square)
    print(list2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [15]:
list1 = [1,2,3,4,5]
list2 = [list2**2 for list2 in list1 if list2==2]
print(list2)

[4]

In [ ]:
#write a program to add two matrices of size nxm
#write a program to multiply 2 matrix
#find sum of each row of matrix
#Given an integer n.create a matrix size(nxn)
#(i)positions on the minor diagonal(from the upper right to lower left corner)receive 1
#(ii)positions above the diagonal receive 0
#(iii)positions blew the diagonal receive 2
#

In [17]:
n = 4
a = [[0]*n for i in range(n)]
for i in range(n):
    for j in range(n):
        if i>j:
            a[i][j] = 0
        elif i < j:
            a[i][j] = 2`
        else:
            a[i][j] = 1
        for row in a:
            print(' 'join([str(elem)for elem in row]))

SyntaxError: invalid syntax (2406501769.py, line 12)

In [3]:
n = int(input("number of units = "))
if n<=100:
    print("No charge")
elif n<=200:
    print("Bill amount = ",(n-100)*5)
else:
    print("Bill amount = ",500+(n-200)*10)

number of units = 350
Bill amount =  2000

In [9]:
n = int(input("enter the number"))
i = 1
sum = 0
while i<=n:
    sum = sum + i
    i = i + 1
    
print(sum)

enter the number5
15

In [12]:
n = int(input())
i = 1
while n>0:
    i = n*n
    n = n - 1
    print(i)

10
100
81
64
49
36
25
16
9
4
1

In [19]:
li_2D = [[5,6,7,9,10],[12,15,20,25,30],[32,40,112,46,70],[80,82,92,94,102],[7,4,2,1,4]]
li_2D[3][2] = 1008

print(li_2D[0])
print(li_2D[1])
print(li_2D[4])
print(li_2D[3])
print(li_2D[3][3])
print(li_2D[3][5])

[5, 6, 7, 9, 10]
[12, 15, 20, 25, 30]
[7, 4, 2, 1, 4]
[80, 82, 1008, 94, 102]
94

IndexError: list index out of range

In [21]:
li_2D = [[5,6,7,9,10],[12,15,20,25,30],[32,40,112,46,70],[80,82,92,94,102],[7,4,2,1,4]]
for r in range(0,5):
    for c in range(0,5):
        print(li_2D[r][c])
    print()

5
6
7
9
10

12
15
20
25
30

32
40
112
46
70

80
82
92
94
102

7
4
2
1
4

In [26]:
li_2D = [[5,6,7],[12,15,20,25,30],[32,40,112,46,70],[80,82,92,94,102],[7,4,2,1,4]]
for r in range(0,5):
    for c in range(0,len(li_2D[r])):
        print(li_2D[r][c])
    print()

5
6
7

12
15
20
25
30

32
40
112
46
70

80
82
92
94
102

7
4
2
1
4

In [3]:
#append single dimentional array
n = int(input())
a = []
for i in range(n):
    b = int(input())
    a.append(b)
print(a)

5
6
4
7
3
8
[6, 4, 7, 3, 8]

In [5]:
#
li = []
m = int(input("enter the number of rows"))
n = int(input("enter the number of columns"))
for i in range(m):
    d = []
    for j in range(n):
        d.append(int(input()))
    li.append(d)
    print(li)

enter the number of rows2
enter the number of columns2
56
76
[[56, 76]]
56
76
[[56, 76], [56, 76]]

In [4]:
#
a = input()
s = [char for char in a if char not in ("a","e","i","o","u","A","E","I","O","U")]
print("".join(s))

my name is hitesh
my nm s htsh

In [3]:
#Write a python program to replace last value of tuples in a list
list = [(10,20,40),(40,50,60),(70,80,90)]
l = len(list)
for i in range (l):
    list[i] = list[i][l-1]+(100)
print(list)

[140, 160, 190]

In [ ]:
thistuple = (        )
Y = list(thistuple)
Y[1] = "bell"
this+

In [5]:
#Append value in tuple

thistuple = ("apple","bat","cat","Dog","elephant")

x = list(thistuple)

x.append(input())

x = tuple(x)

print(x)

TypeError: 'list' object is not callable

In [1]:
#Change thistuple(1) to ball

thistuple = ("apple","bat","cat","Dog","elephant")
x = list(thistuple)

x[1]="ball"

x = tuple(x)

print(x)

('apple', 'ball', 'cat', 'Dog', 'elephant')

In [7]:
#whether dog in present 
thistuple = ("apple","bat","cat","Dog","elephant")
x= list(thistuple)
for i in x:
    if i=="Dog":
        print("yes")

TypeError: 'list' object is not callable

In [3]:
#write a python program to check wheather a given string is hetrogram or not? 
string=input()
not_hetro=False
for i in range(len(string)):
    if string[i]==' ':
        continue
    for j in range(i+1,len(string)):
        if(string[i]==string[j]):
            not_hetro=True
if not_hetro==False:
    print("It is hetrogram")
else:
    print("it is not hetrogram")

my name is hitesh
it is not hetrogram

In [5]:
# given a tuple list , perform sort on basis of total digits in tuple 

def count_digs (tup) :
    return sum([len(str(elem))for elem in tup])

testlist = [(3,4,6,723), (1,2) , (134,234,34)]

print("the original list is : " + str (testlist))

testlist.sort(key=count_digs)
print("sorted tuple : + str (testlist)")

the original list is : [(3, 4, 6, 723), (1, 2), (134, 234, 34)]
sorted tuple : + str (testlist)

In [3]:
def list(string):
    l=string.split()
    temp  = []
    for x in l:
        if x not in temp:
            temp.append(x)
    return' 'in (temp)
string = "jawa is good and python is also good"
print(list(string))

False

# Revision question

In [11]:
#1
n = int(input("number of units = "))
if n<=100:
    print("No charge")
elif n<=200:
    print("Bill amount = ",(n-100)*5)
else:
    print("Bill amount = ",500+(n-200)*10)

number of units = 250
Bill amount =  1000

In [27]:
#2
gender = input("your gender is:")
salary = int(input("your salary is:"))
if salary <= 10000:
    new_salary = salary + (2.5*salary)/100
    if gender == 'male':
        newsalary = new_salary + (10*new_salary)/100
        print(newsalary)
    else:
        newsalary = new_salary +(15*new_salary)/100
        print(newsalary)
else:
    if gender == 'male':
        newsalary = salary + (10*salary)/100
        print(newsalary)
    
    else: 
        newsalary = salary +(15*salary)/100
        print(newsalary)

your gender is:male
your salary is:9000
10147.5

In [49]:
#3
li =[]
len(li) = int(input("Enter the size of list = "))

SyntaxError: cannot assign to function call (2779783444.py, line 3)

In [1]:
data = "Himachal is beautifulHimachal is beautiful Himachal is beautiful"
nd = data.replace("Himachal","him")
print(nd)

him is beautifulhim is beautiful him is beautiful

In [22]:
def wishing(name):
    pr
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    int("hai,"+name)
    
person1={
    "name":"Harshita",
    "age":18,
    "country":"India"
    }

In [29]:
import filename
filename.wishing("Rose")

ModuleNotFoundError: No module named 'filename'

In [75]:
import filename
filename.wishing("Harshdeep slut")

ModuleNotFoundError: No module named 'filename'