# #A list is a standard data type of Python that can store a sequence of values belonging to any type. 
#Empty List :  [ ]
#list of integers  :  [1,2,3,4,5,6]
#list of numbers  :  [1,2,3,4.5,6.5,5.7]
#list of characters  :  ['a','b','c']
#list of mixed data type  :  ['a',2,4.2,"zero"]
#list of strings  : ['a','b','c']


## Nested List :
list4 = ["One", [8, 4, 6], ['Three']] #Nested List

In [4]:
## Indexing
li = ["mother","father","son"]
print(li[2])

print(li[1])

son
father

In [5]:
#negative indexing
li = ["mother","father","son"]
print(li[-2])

print(li[-1])

father
son

In [6]:
#changing elements of a list
li = ["mother","father","son",12,23]
li[-1] = 555
li[2] = "mother"
print(li)

['mother', 'father', 'mother', 12, 555]

In [ ]:
#joining two list
l1 = [1,2,3]
l2 = [3,4,5]
l3 = l1 + l2
print(l3)

In [8]:
#repeating/replicating list
l1 = [1,2,3,4]
print(l1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
#list slicing
##slice= <List Name>[StartIndex : StopIndex : Steps]
l1 = ['a','b','c','d','e','f','g','h']
print(l1[2:6])
print(l1[2::1])
print(l1[::-1])

['c', 'd', 'e', 'f']
['c', 'd', 'e', 'f', 'g', 'h']
['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [15]:
##list methods
#append()  : used to add element at the end of a list
li = [1,2,3,4,5,6]
li.append(7)
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
#extend()  : used to add elements of l2 at the end of l1
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#insert()   : used to insert an element at a specified position/index in a list
l1 = [1,2,3,4,5,6,7]
l1.insert(3,'dont know')
print(l1)

[1, 2, 3, 'dont know', 4, 5, 6, 7]

In [26]:
#sum()   : used to sum all the numeric value of a list
l1 = [1,2,3,4,5,6,]
print(sum(l1))

21

In [34]:
#count()  :: Returns the total number of times a given element occurs in a List.
l1 = [1,2,3,4,5,5,5,5,6,6,6,7,3,3,3,3,8,8,8,8]
a = l1.count(6)
b = l1.count(5)
print(a,b)

3 4

In [36]:
#len(): Returns the total length of a List
l1 = [1,2,3,4,5,6,7,8,9,10]
print(len(l1))

10

In [5]:
#index(): Returns the index of first occurrence of an element in a list. If element is not present, it returns -1.
l1 = [1,2,3,4,5,4,9,7,5]
print(l1.index(4))
value = l1.index(6)

3

ValueError: 6 is not in list

In [43]:
#min() : Returns the minimum element in a List
l1 = ['a','b','c','d','e','f']
print(min(l1))
l2 = [4,3,4,5,6,7,8]
print(min(l2))

a
3

In [50]:
#max() : Returns the maximum element in a List.
l1 = ['a','b','c','b','e','f']
print(max(l1))
l2 = [4,3,4,5,69,70.4,8]
print(max(l2))

f
70.4

In [71]:
#pop(): It deletes and returns the element at the specified index. If we don't mention the index,
#it by default pops the last element in the list
l1 = [1,2,3,4,5,6,7,8,'a','b','c','mom']
a = l1.pop(-1)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c']

In [75]:
#del() : Element to be deleted is mentioned using list name and index
l1 = [1,2,3,4,5,6,7,8]
del l1[3]
print(l1)

[1, 2, 3, 5, 6, 7, 8]

In [78]:
#remove(): Element to be deleted is mentioned using list name and element
l1 = [1,2,3,45,5,6,7,8]
l1.remove(45)
print(l1)

[1, 2, 3, 5, 6, 7, 8]

In [87]:
#Looping On Lists
#using for loop
l1 = [1,2,3,4,5,6,7,8]
for i in l1:
    print(i)

1
2
3
4
5
6
7
8

In [7]:
#using for loop and range
l1 = [1,2,3,4,5,6,7,8]
for i in range(len(l1)):
    print(i)

1
2
3
4
5
6
7
8

#                                Line Separated Input Of List                                               
#The way to take line separated input of a list is described below:
#● Create an empty list.
#● Let the number of elements you wish to put in the list be N.
#● Run a loop for N iterations and during these N iterations do the following:
#○ Take an element as user input using the input() function.
#○ Append this element to the list we created.
#● At the end of N iterations, you would have appended N desired elements to your list.
#● In this, different elements will have to be entered by the user in different lines.

In [97]:
li = []
b = int(input())
for i in range(b):
    a = int(input())
    li.append(a)
print(li)

4
1
2
3
4
[1, 2, 3, 4]

#                                        Using split() method                                                  
##This function helps in taking multiple inputs from the user in a single line . It breaks
#the given input by the specified separator. If a separator is not provided then any
#white space is treated as a separator.
#Note: The split() method is generally used to split a string

In [99]:
a = input().split()
print(a)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']

In [103]:
a = input().split(",")
print(a)

1,2,3,4,5,6,7
['1', '2', '3', '4', '5', '6', '7']